:root {
	--Dark-Blue: #06283D;
	--Blue: #1363DF;
	--Sky-Blue: #47B5FF;
	--Light-Blue: #DFF6FF;
}


.bg-dark-blue {
	background-color: var(--Dark-Blue) !important;
}
.bg-blue {
	background-color: var(--Blue) !important;
}
.bg-sky-blue {
	background-color: var(--Sky-Blue) !important;
}
.bg-light-blue {
	background-color: var(--Light-Blue) !important;
}