div.register-cover-background {
	background: url("../img/login-background-image-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.row {
	height: 100vh;
	margin: auto 0 !important;
}